In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns

In [2]:
df = pd.read_csv("dataset3_pd.csv")
df

,WL1(mm),WL2(mm),WL3(mm),WL4 (mm),WL5 (mm),Solar (W/m2),AirTemp (DegC),RH (%),y
0,53,208,87,36,44,0,21.9,97,-0.1
1,59,62,93,36,50,113,22.3,100,-0.1
2,60,61,93,36,56,152,22.8,100,-0.1
3,58,60,91,36,51,141,23.3,100,-0.1
4,57,61,91,36,48,123,23.6,99,-0.1
...,...,...,...,...,...,...,...,...,...
408,39,42,42,36,44,0,14.5,93,-0.1
409,39,42,42,36,44,0,13.9,99,-0.1
410,39,42,42,36,44,0,14.4,100,-0.1
411,39,42,42,36,44,0,14.6,98,-0.1
412,39,42,42,36,44,12,14.6,100,-0.1

In [4]:
data = np.loadtxt("dataset3_np.csv", delimiter = ',', dtype = np.float32)

In [5]:
x = data[:, :8]
y = data[:, [-1]]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [6]:
RandomForestRegModel = RandomForestRegressor()
RandomForestRegModel.fit(x_train, y_train)

c:\users\mahns\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

RandomForestRegressor()

In [7]:
y_pred = RandomForestRegModel.predict(x_test)
y_pred

array([-0.1       , -0.1       , -0.112     , -0.52400001, -0.123     ,
       -0.1       , -0.1       , -0.101     , -0.1       , -0.158     ,
       -0.132     , -0.126     , -0.189     , -0.192     , -0.143     ,
       -0.122     , -0.193     , -0.109     , -0.24100001, -0.1       ,
       -0.112     , -0.101     , -0.11      , -0.1       , -0.228     ,
       -0.117     , -0.119     , -0.101     , -0.117     , -0.148     ,
       -0.167     , -0.115     , -0.164     , -0.172     , -0.141     ,
       -0.108     , -0.1       , -0.14      , -0.1       , -0.119     ,
       -0.1       , -0.1       , -0.112     , -0.1       , -0.102     ,
       -0.1       , -0.1       , -0.12      , -0.154     , -0.44400001,
       -0.102     , -0.14      , -0.101     , -0.13      , -0.125     ,
       -0.153     , -0.112     , -0.1       , -0.35300001, -0.103     ,
       -0.119     , -0.106     , -0.105     , -0.1       , -0.1       ,
       -0.14      , -0.107     , -0.175     , -0.176     , -0.15      ,
       -0.155     , -0.203     , -0.41800001, -0.209     , -0.1       ,
       -0.129     , -0.101     , -0.153     , -0.101     , -0.1       ,
       -0.137     , -0.1       , -0.1       , -0.106     , -0.122     ,
       -0.104     , -0.106     , -0.172     , -0.122     , -0.139     ,
       -0.1       , -0.168     , -0.112     , -0.108     , -0.101     ,
       -0.1       , -0.101     , -0.118     , -0.121     , -0.114     ,
       -0.1       , -0.144     , -0.152     , -0.117     ])

In [8]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(rmse)

0.06033831079759609