In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import r2_score,mean_squared_error
import seaborn as sns

In [3]:
df = pd.read_csv("dataset3_pd.csv")
df

,WL1(mm),WL2(mm),WL3(mm),WL4 (mm),WL5 (mm),Solar (W/m2),AirTemp (DegC),RH (%),y
0,53,208,87,36,44,0,21.9,97,-0.1
1,59,62,93,36,50,113,22.3,100,-0.1
2,60,61,93,36,56,152,22.8,100,-0.1
3,58,60,91,36,51,141,23.3,100,-0.1
4,57,61,91,36,48,123,23.6,99,-0.1
...,...,...,...,...,...,...,...,...,...
407,39,42,42,36,44,0,14.5,93,-0.1
408,39,42,42,36,44,0,13.9,99,-0.1
409,39,42,42,36,44,0,14.4,100,-0.1
410,39,42,42,36,44,0,14.6,98,-0.1
411,39,42,42,36,44,12,14.6,100,-0.1

In [4]:
data = np.loadtxt("dataset3_np.csv", delimiter = ',', dtype = np.float32)

In [21]:
x = data[:, :8]
y = data[:, [-1]].ravel()

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

In [22]:
RandomForestRegModel = RandomForestRegressor()
RandomForestRegModel.fit(x_train, y_train)

RandomForestRegressor()

In [23]:
y_pred = RandomForestRegModel.predict(x_test)
y_pred

array([-0.105     , -0.21900001, -0.112     , -0.149     , -0.101     ,
       -0.121     , -0.119     , -0.159     , -0.145     , -0.12      ,
       -0.169     , -0.19200001, -0.22900001, -0.186     , -0.145     ,
       -0.22300001, -0.116     , -0.103     , -0.1       , -0.203     ,
       -0.142     , -0.102     , -0.1       , -0.128     , -0.101     ,
       -0.146     , -0.23600001, -0.15      , -0.11      , -0.1       ,
       -0.1       , -0.29300001, -0.171     , -0.102     , -0.103     ,
       -0.111     , -0.101     , -0.1       , -0.1       , -0.39800001,
       -0.114     , -0.16      , -0.1       , -0.1       , -0.104     ,
       -0.35500001, -0.148     , -0.149     , -0.121     , -0.154     ,
       -0.108     , -0.107     , -0.123     , -0.119     , -0.121     ,
       -0.148     , -0.1       , -0.104     , -0.104     , -0.158     ,
       -0.167     , -0.143     , -0.174     , -0.1       , -0.141     ,
       -0.112     , -0.34900001, -0.1       , -0.1       , -0.23200001,
       -0.212     , -0.1       , -0.248     , -0.101     , -0.103     ,
       -0.126     , -0.117     , -0.104     , -0.159     , -0.242     ,
       -0.108     , -0.104     , -0.1       , -0.114     , -0.116     ,
       -0.116     , -0.1       , -0.129     , -0.154     , -0.114     ,
       -0.106     , -0.119     , -0.106     , -0.152     , -0.1       ,
       -0.1       , -0.103     , -0.118     , -0.188     , -0.101     ,
       -0.109     , -0.101     , -0.101     ])

In [24]:
mse = mean_squared_error(y_test, y_pred)
rmse = np.sqrt(mse)

print(rmse)

0.06625590504900304